body{
    background:#e2f5e7d7; 
    font-family: 'Andika New Basic', sans-serif;
    margin-top:20px;
    color: #844f3f;
    /* #F4F7FD */
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F4CBCE;
    color: #844f3f;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    margin-bottom: 3rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.btn-outline-secondary{
    margin-bottom: 10px;
}

a{
    color: rgb(220, 70, 95);
}
a:hover{
    text-decoration: none;
    color: rgb(130, 74, 10);
}

.imagen_mascota{
    height: 300px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

span{
    font-weight: 900;
}